.sct1 {
  .intro-text {
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
      font-size: 3rem;
      font-weight: 700;
      text-transform: uppercase;
    }
    
    p {
      font-size: 1.2rem;
      font-weight: 200;
    }
  }
}