@import 'variables';

.navbar {
  &-brand {
    font-family: $war-fonte-2;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    color: $war-base-2 !important;
  }

  .nav-link {
    color: $war-white !important;
    &:hover {
      color: $war-base-2 !important;
    }
  }
}

.start {
  color: $war-base-2 !important;
}