// Imports
@import 'components/custom';
@import 'components/navbar';

@import 'layout/intro';

@import 'variables';

// Configuraçõo da pagina
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}