// Imports
@import 'intro';
@import 'navbar';
@import 'variables';

// Configuraçõo da pagina
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $war-fonte;
  //overflow: hidden;
}