// Fonte
$w-fonte: 'Open Sans', sans-serif;
$w-fonte-custom: 'Kaushan Script', cursive;

// Colors
$w-color-base: #1F2226;
$w-color-custom: #F8B500;
$w-color-light: #FFF4E0;
$w-shadow: 1px 1px 3px #000000;